
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');
@import './utils/variables';
@import'./layouts/loader';
@import './layouts/footer';



body{
    margin: 0px;
    padding: 0px;
    
}




body{
    margin: 0px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}
/********Header******/


#mon-header-index{
    display: flex;
    flex-direction: column;

        .Localisation{
        display: flex;
       justify-content: center;
       margin: 0px;
       background-color:#f3f3f3;
    
       i {
           padding: 19px;
           font-size: 20px;
           margin-left: -15px;}
    

         p {font-size: 20px;}
        
    }  
}


.mon-logo-principale{
    margin: 0px;
     text-align: center;
     font-family: 'Shrikhand',cursive;
     padding: 16px;
    box-shadow: 0 0 10px #b5b0b0;
    position: relative;

}



.deuxieme-parti-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;

    .header-titre-h2{
        text-align: center;
        margin: 30px 0px 10px 0px;
    }

    .button-header{
    
        border: 0;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 50px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,$Primaire, $Secondaire);
    margin-bottom: 20px;
    box-shadow: $shadowbox;
        
        
            &:hover{
            cursor: pointer;
            transition-duration: .25s;
            box-shadow: 10px 10px 10px #dfdfdf;}
    
        }

}





/********Section-Fonctionnement******/



.Fonctionnement{

    padding: 15px;


    .titre-fonctionnement{

        margin-bottom: 10px;
    } 
    
}



#ol-main-index{
    
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    margin-left: -19px;
    list-style-type: none;

    li{
        width: 32%;
        display: flex;
        align-items: center;
        background-color: $fondclr;
        border-radius: 20px;
        margin-left: 30px;
        box-shadow: 4px 4px 8px #dfdfdf;
        padding: 9px;
        margin: 16px 0 16px 30px;

        i{
        margin-right: 24px;
        color: #7e7e7e;
        }
    }

    
}



.numero-li{
    margin-left: -20px;
    background: $Primaire;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
}




/********Section-Restaurant******/

.restaurants{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $fondclr;

    .titre-restaurants{
        margin-left:10px ;
        }
    

        .card-div1{

            display: flex;
            width: 100%;
        }

        .card-div2{

            display: flex;
        }
}



.card{
    width: 50%;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    max-height: 275px;
    box-shadow: $shadowbox;
    position: relative;

    a{
        text-decoration: none;
    }
}



.img-index{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.p-info-figure{
    background-color: $Tertiaire;
    color: #1a7c65;
    padding: 9px 20px;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    right: 20px;
}


.div-a-section{
    margin: 15px;
    display: flex;
    justify-content: space-between;

    
        
}
   

.div-heart{
    font-size: 30px;
    margin: 10px;
    position: relative;
    border: 0 solid transparent;
    color: black;
    cursor: pointer;

    .heart-1{
        position: absolute;
        
    }

    .heart-2{
        background: 1s;
    }


    &:hover{
            content: "";
            opacity: 2;
            background: linear-gradient(0deg,#9356dc,#ff79da);
    }    
}






.h3-figure{
    color: black;
    margin: 0px;
}
    
.p-figure{
     color: black;
     margin: 0px;
}


@import './layouts/responsive-index';
@import './layouts/responsive-pages';
@import './layouts/mes-pages';











    
    
    
