@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
body {
  margin: 0px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/********Header******/
.mon-header-page {
  display: flex;
  margin: 0px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 0 10px #b5b0b0;
  position: relative;
}

.titre-pages {
  font-family: Shrikhand, "cursive";
  margin-left: 20px;
}

.main-pages {
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
}

#mon-header-index {
  display: flex;
  flex-direction: column;
}
#mon-header-index .Localisation {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #f3f3f3;
}
#mon-header-index .Localisation i {
  padding: 19px;
  font-size: 20px;
  margin-left: -15px;
}
#mon-header-index .Localisation p {
  font-size: 20px;
}

.mon-logo-principale {
  margin: 0px;
  text-align: center;
  font-family: "Shrikhand", cursive;
  padding: 16px;
  box-shadow: 0 0 10px #b5b0b0;
  position: relative;
}

.deuxieme-parti-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.deuxieme-parti-header .header-titre-h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
}
.deuxieme-parti-header .button-header {
  border: 0;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  margin-bottom: 20px;
  box-shadow: 0.25rem 0.25rem 10px #c7c0c0;
}
.deuxieme-parti-header .button-header:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 10px 10px 10px #dfdfdf;
}

/********Section-Fonctionnement******/
.Fonctionnement {
  padding: 15px;
}
.Fonctionnement .titre-fonctionnement {
  margin-bottom: 10px;
}

#ol-main-index {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  margin-left: -19px;
  list-style-type: none;
}
#ol-main-index li {
  width: 32%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-left: 30px;
  box-shadow: 4px 4px 8px #dfdfdf;
  padding: 9px;
  margin: 16px 0 16px 30px;
}
#ol-main-index li i {
  margin-right: 24px;
  color: #7e7e7e;
}

.numero-li {
  margin-left: -20px;
  background: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 15px;
}

/********Section-Restaurant******/
.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}
.restaurants .titre-restaurants {
  margin-left: 10px;
}
.restaurants .card-div1 {
  display: flex;
  width: 100%;
}
.restaurants .card-div2 {
  display: flex;
}

.card {
  width: 50%;
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  max-height: 275px;
  box-shadow: 1px 2px 10px #c7c0c0;
  position: relative;
}
.card a {
  text-decoration: none;
}

.img-index {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.p-info-figure {
  background-color: #99E2D0;
  color: #1a7c65;
  padding: 9px 20px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 20px;
}

.div-a-section {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.div-a-section .div-heart {
  font-size: 30px;
  margin: 10px;
}

.h3-figure {
  color: black;
  margin: 0px;
}

.p-figure {
  color: black;
  margin: 0px;
}

/********Footer******/
.mon-footer {
  background-color: #353535;
  padding: 10px;
}
.mon-footer #Titre-footer {
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 0px;
  font-size: 19px;
  padding: 6px;
}
.mon-footer #ul-footer {
  margin: 0px;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0px;
}
.mon-footer #ul-footer li {
  padding: 5px;
}

.footer-a {
  display: flex;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.footer-a i {
  margin-right: 15px;
}
.footer-a .P-footer {
  margin: 0px;
  color: white;
}

@media only screen and (max-width: 767px) {
  /********Section-Fonctionnement******/
  #ol-main-index {
    justify-content: space-around;
    padding: 0px;
    flex-direction: column;
    margin-left: 0px;
    margin: 0px;
  }
  #ol-main-index li {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #dfdfdf;
    padding: 9px;
    margin: 16px auto 16px auto;
    width: 90%;
  }
  #ol-main-index i {
    margin-right: 24px;
    color: #7e7e7e;
  }

  /********Section-Restaurant******/
  .restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
  }
  .restaurants .card-div1 {
    flex-direction: column;
    width: 100%;
  }
  .restaurants .card-div2 {
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 92%;
    margin: 10px auto 10px auto;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    max-height: 275px;
    box-shadow: 1px 2px 10px #c7c0c0;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
