@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
.container-chargement {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  animation: mon-loader 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.p-chargement {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 20px;
}

.mon-chargement {
  border: 4px solid #FF79DA;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  animation: anim-chargement 1s infinite ease-in-out;
}

.mon-chargement::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 30px;
  position: absolute;
}

@keyframes anim-chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mon-loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/********Header******/
#mon-header-index {
  display: flex;
  flex-direction: column;
}
#mon-header-index .Localisation {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #f3f3f3;
}
#mon-header-index .Localisation .map-icone {
  padding: 19px;
  font-size: 20px;
  margin-left: 100px;
}
#mon-header-index .Localisation input {
  font-size: 20px;
  border: transparent;
  background: transparent;
}

.mon-logo-principale {
  margin: 0px;
  text-align: center;
  font-family: "Shrikhand", cursive;
  padding: 16px;
  box-shadow: 0 0 10px #b5b0b0;
  position: relative;
}

.deuxieme-parti-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.deuxieme-parti-header .header-titre-h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
}
.deuxieme-parti-header p {
  text-align: center;
  width: 80%;
}
.deuxieme-parti-header .button-header {
  border: 0;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px #c7c0c0;
  cursor: pointer;
}
.deuxieme-parti-header .button-header:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.6);
}

/********Section-Fonctionnement******/
.Fonctionnement {
  padding: 15px;
}
.Fonctionnement .titre-fonctionnement {
  margin-bottom: 10px;
}

#ol-main-index {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  margin-left: -19px;
  list-style-type: none;
}
#ol-main-index li {
  width: 32%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-left: 30px;
  box-shadow: 4px 4px 8px #dfdfdf;
  padding: 9px;
  margin: 16px 0 16px 30px;
  font-weight: bold;
  cursor: pointer;
}
#ol-main-index li i {
  margin-right: 24px;
  color: #7e7e7e;
}

.numero-li {
  margin-left: -20px;
  background: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 15px;
}

/********Section-Restaurant******/
.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}
.restaurants .titre-restaurants {
  margin-left: 10px;
  margin-top: 50px;
}
.restaurants .card-div1 {
  display: flex;
  width: 100%;
}
.restaurants .card-div2 {
  display: flex;
}

.card {
  width: 50%;
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  max-height: 275px;
  box-shadow: 4px 4px 10px #c7c0c0;
  position: relative;
}
.card a {
  text-decoration: none;
}

.img-index {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.p-info-figure {
  background-color: #99E2D0;
  color: #1a7c65;
  padding: 9px 20px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 20px;
}

.div-a-section {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.div-heart {
  position: relative;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.div-heart:hover .heart-1 {
  display: none;
}
.div-heart:hover .heart-2 {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
.div-heart .heart-1 {
  position: absolute;
  background-color: transparent;
  color: black;
}
.div-heart .heart-2 {
  opacity: 0;
  transition: opacity 1s;
  color: transparent;
}

.h3-figure {
  color: black;
  margin: 0px;
}

.p-figure {
  color: black;
  margin: 0px;
}

/********Footer******/
.mon-footer {
  background-color: #353535;
  padding: 10px;
}
.mon-footer #Titre-footer {
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 0px;
  font-size: 19px;
  padding: 6px;
}
.mon-footer #ul-footer {
  margin: 0px;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0px;
}
.mon-footer #ul-footer li {
  padding: 5px;
}

.footer-a {
  display: flex;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.footer-a i {
  margin-right: 15px;
}
.footer-a .P-footer {
  margin: 0px;
  color: white;
}

/*******MesPages**********/
body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.mon-header-page {
  display: flex;
  margin: 0px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px #b5b0b0;
  position: relative;
}
.mon-header-page a {
  height: 0px;
  width: 0px;
}
.mon-header-page a i {
  margin: 15px;
  font-size: 19px;
  color: black;
}

.mon-logo-principale-page {
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin: auto;
}

.main-pages {
  background-color: #f6f6f6;
  position: relative;
  border-radius: 35px 35px 0px 0px;
  margin-top: -60px;
}
.main-pages .Nom-des-menus {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0px;
  height: 80px;
}
.main-pages .titre-pages {
  font-family: Shrikhand, "cursive";
  font-family: Shrikhand, "cursive";
  height: 0px;
  margin: 30px 0px;
}
.main-pages .div-heart {
  font-size: 30px;
  margin: 26px;
}

.grande-img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.button-page {
  border: 0;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 4px 4px 10px #c7c0c0;
  justify-content: center;
}
.button-page:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.6);
}

.button-a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 40px 0px;
}

.ensemble-section {
  display: flex;
  justify-content: space-around;
}
.ensemble-section .Menus {
  width: 30%;
  padding: 10px;
  overflow: hidden;
}
.ensemble-section .Menus .titre-menu {
  border-bottom: 4px solid #b4e7b4;
  width: 12%;
  padding: 3px 0px;
  margin-top: 0px;
  font-weight: 100;
}

.Entrée {
  display: flex;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 12px #dfdfdf;
  margin: 15px 0px;
  padding: 0px;
  cursor: pointer;
  animation: anim-menu 0.5s;
  overflow: hidden;
}
.Entrée:hover .footer-div-section {
  width: calc(85% - 75px);
}
.Entrée:hover .div-check {
  transform: rotate(0deg);
}
.Entrée .footer-div-section {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 17px 0 17px 17px;
  flex: none;
  box-sizing: border-box;
  transition: 0.6s;
}
.Entrée .footer-div-section h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
}
.Entrée .footer-div-section p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 200;
}
.Entrée .prix {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 15%;
  flex: none;
  box-sizing: border-box;
  padding: 17px 17px 17px 10px;
}

.check {
  background-color: #99e2d0;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

.div-check {
  height: 24px;
  width: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.6s;
}
.div-check .fa-check {
  color: #99e2d0;
}

.delay1 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.delay-10 {
  animation-delay: 1s;
}

@keyframes anim-menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 767px) {
  /********Header******/
  #mon-header-index {
    display: flex;
    flex-direction: column;
  }
  #mon-header-index .Localisation {
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #f3f3f3;
  }
  #mon-header-index .Localisation .map-icone {
    padding: 19px;
    font-size: 20px;
    margin-left: 0px;
  }
  #mon-header-index .Localisation input {
    font-size: 20px;
    border: transparent;
    background: transparent;
    width: 46%;
    max-width: 180px;
  }

  .mon-logo-principale {
    margin: 0px;
    text-align: center;
    font-family: "Shrikhand", cursive;
    padding: 16px;
    box-shadow: 0 0 10px #b5b0b0;
    position: relative;
  }

  .deuxieme-parti-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
  }
  .deuxieme-parti-header .header-titre-h2 {
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  .deuxieme-parti-header .button-header {
    border: 0;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px #c7c0c0;
  }
  .deuxieme-parti-header .button-header:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.6);
  }

  /********Section-Fonctionnement******/
  .Fonctionnement {
    padding: 20px;
  }
  .Fonctionnement .titre-fonctionnement {
    margin-bottom: 10px;
  }

  #ol-main-index {
    justify-content: space-around;
    padding: 0px;
    flex-direction: column;
    margin-left: 0px;
    margin: 0px;
  }
  #ol-main-index li {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #dfdfdf;
    padding: 9px;
    margin: 16px auto 16px auto;
    width: 95%;
  }
  #ol-main-index i {
    margin-right: 24px;
    color: #7e7e7e;
  }

  .numero-li {
    margin-left: -20px;
    background: #9356DC;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
  }

  /********Section-Restaurant******/
  .restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
  }
  .restaurants .titre-restaurants {
    margin: 50px 10px 5px;
  }
  .restaurants .card-div1 {
    flex-direction: column;
    width: 100%;
  }
  .restaurants .card-div2 {
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }

  .card {
    width: 92%;
    margin: 10px auto 10px auto;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    max-height: 275px;
    box-shadow: 1px 2px 10px #c7c0c0;
    position: relative;
  }

  .img-index {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .p-info-figure {
    background-color: #99E2D0;
    color: #1a7c65;
    padding: 9px 20px;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .div-a-section {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  .div-heart {
    position: relative;
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }
  .div-heart:hover .heart-1 {
    display: none;
  }
  .div-heart:hover .heart-2 {
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  .div-heart .heart-1 {
    position: absolute;
    background-color: transparent;
    color: black;
  }
  .div-heart .heart-2 {
    opacity: 0;
    transition: opacity 1s;
  }

  .h3-figure {
    color: black;
    margin: 0px;
  }

  .p-figure {
    color: black;
    margin: 0px;
  }

  /********Footer******/
  .mon-footer {
    background-color: #353535;
    padding: 10px 20px;
  }
  .mon-footer #Titre-footer {
    font-family: "Shrikhand", cursive;
    color: white;
    margin: 0px;
    font-size: 19px;
    padding: 6px;
  }
  .mon-footer #ul-footer {
    margin: 0px;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0px;
  }
  .mon-footer #ul-footer li {
    padding: 5px;
  }

  .footer-a {
    display: flex;
    list-style-type: none;
    color: white;
    text-decoration: none;
  }
  .footer-a i {
    margin-right: 15px;
  }
  .footer-a .P-footer {
    margin: 0px;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  /*******MesPages**********/
  .mon-header-page {
    display: flex;
    margin: 0px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px #b5b0b0;
    position: relative;
  }
  .mon-header-page a {
    height: 0px;
    width: 0px;
  }
  .mon-header-page a i {
    margin: 15px;
    font-size: 19px;
    color: black;
  }

  .mon-logo-principale-page {
    text-align: center;
    font-family: "Shrikhand", cursive;
    margin: auto;
  }

  .main-pages {
    background-color: #f6f6f6;
    position: relative;
    border-radius: 35px 35px 0px 0px;
    margin-top: -60px;
  }
  .main-pages .Nom-des-menus {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0px;
    height: 80px;
  }
  .main-pages .titre-pages {
    font-family: Shrikhand, "cursive";
    font-family: Shrikhand, "cursive";
    height: 0px;
    margin: 30px 0px;
  }
  .main-pages .div-heart {
    font-size: 30px;
    margin: 30px;
  }

  .grande-img {
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .button-page {
    border: 0;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    box-shadow: 4px 4px 10px #c7c0c0;
    justify-content: center;
    padding: 15px 45px;
  }
  .button-page:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.6);
  }

  .button-a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px 0px 75px;
  }

  .ensemble-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .ensemble-section .Menus {
    width: 90%;
    padding: 10px;
    margin: auto;
  }
  .ensemble-section .Menus .titre-menu {
    border-bottom: 4px solid #b4e7b4;
    width: 12%;
    padding: 3px 0px;
    margin-top: 0px;
  }
  .ensemble-section .Menus .Entrée {
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 12px #dfdfdf;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
  }
  .ensemble-section .Menus .footer-div-section {
    padding: 15px;
  }
  .ensemble-section .Menus .footer-div-section h4 {
    margin: 0px;
  }
  .ensemble-section .Menus .footer-div-section p {
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
