
 @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


#mon-header-index{
    display: flex;
    flex-direction: column;
    
    
}

.mon-logo-principale{
     text-align: center;
     font-size: 30px;
 }





#Titre-footer{
    font-family: 'Shrikhand', cursive;
    color: white;
}


.mon-footer{
    background-color:#353535;
}