  
  @media only screen and (max-width : 767px){
  
  /*******MesPages**********/


   .mon-header-page{
    display: flex;
    margin: 0px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px #b5b0b0;
    position: relative;

    a{
        height: 0px;
        width: 0px;

        i{
            margin: 15px;
            font-size: 19px;
            color: black;

        }
        
    }

}

.mon-logo-principale-page{
    text-align: center;
 font-family: 'Shrikhand',cursive;
 margin: auto;
}
    

.main-pages{
        
        background-color: $fondclr;
        position: relative;
        border-radius: 35px 35px 0px 0px;
        margin-top: -60px;

        .Nom-des-menus{
            display: flex;
            justify-content: space-between;
            padding: 5px 20px 0px;
            height: 80px;
        }
        .titre-pages{
            font-family: Shrikhand,"cursive";
            font-family: Shrikhand, "cursive";
            height: 0px;
            margin: 30px 0px;
        }
        .div-heart{
    
            font-size: 30px;
            margin: 26px;
            }
}


.grande-img{
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.button-page{
    border: 0;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 50px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,$Primaire, $Secondaire);
    box-shadow: 0.25rem 0.25rem 10px #c7c0c0;
    justify-content: center;
        
        
            &:hover{
            cursor: pointer;
            transition-duration: .25s;
            box-shadow: 10px 10px 10px #dfdfdf;}
    
        
}

.button-a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 40px 0px;
}

.ensemble-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .Menus{
        width: 90%;
        padding: 10px;
        margin: auto;


        .titre-menu{
            border-bottom: 4px solid #b4e7b4;
            width: 12%;
            padding: 3px 0px;
            margin-top: 0px;
        }

        .Entrée{
            border-radius: 10px;
            background: white;
            box-shadow: 5px 5px 12px #dfdfdf;
            margin: 15px 0px;
            display: flex;
            justify-content: space-between;



            
        }

        .footer-div-section{
            padding: 15px;

            h4{
                margin: 0px;
            }

            p{
                margin: 0px;
            }
        
        }
    }
    
}

  }